<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ch.cloud.upms.mapper.BtUploadFileMapper" >
  <resultMap id="BaseResultMap" type="com.ch.cloud.upms.model.BtUploadFile" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ORIGINAL_NAME" property="originalName" jdbcType="VARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR" />
    <result column="FILE_SIZE" property="fileSize" jdbcType="BIGINT" />
    <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
    <result column="CONTENT_TYPE" property="contentType" jdbcType="VARCHAR" />
    <result column="MD5" property="md5" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="SRC_TYPE" property="srcType" jdbcType="CHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CREATE_AT" property="createAt" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_AT" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORIGINAL_NAME, FILE_NAME, FILE_TYPE, FILE_SIZE, FILE_PATH, CONTENT_TYPE, MD5, 
    TYPE, VERSION, SRC_TYPE, STATUS, DESCRIPTION, CREATE_AT, CREATE_BY, UPDATE_AT, UPDATE_BY
  </sql>
</mapper>