<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.cloud.upms.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ch.cloud.upms.model.Project">
        <id column="ID" property="id" />
        <result column="PARENT_CODE" property="parentCode" />
        <result column="PARENT_NAME" property="parentName" />
        <result column="NAME" property="name" />
        <result column="CODE" property="code" />
        <result column="DEPARTMENT" property="department" />
        <result column="MANAGER" property="manager" />
        <result column="SORT" property="sort" />
        <result column="DESCRIPTION" property="description" />
        <result column="STATUS" property="status" />
        <result column="DELETED" property="deleted" />
        <result column="CREATE_AT" property="createAt" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_AT" property="updateAt" />
        <result column="UPDATE_BY" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PARENT_CODE, PARENT_NAME, NAME, CODE, DEPARTMENT, MANAGER, SORT, DESCRIPTION, STATUS, DELETED, CREATE_AT, CREATE_BY, UPDATE_AT, UPDATE_BY
    </sql>

    <select id="findNamespaces" resultType="com.ch.cloud.upms.model.Namespace">
        select t1.id, t2.name, t2.uid
        FROM rt_project_namespace t1
        inner join bt_namespace t2
        on t1.namespace_id = t2.id
        WHERE t1.project_id=#{id}
    </select>

    <insert id="insertAssignNamespace">
        INSERT INTO rt_project_namespace (PROJECT_ID,NAMESPACE_ID) VALUES (#{projectId},#{namespaceId})
     </insert>
    <delete id="deleteAssignNamespace">
        DELETE FROM rt_project_namespace WHERE PROJECT_ID=#{projectId} AND NAMESPACE_ID=#{namespaceId}
     </delete>
</mapper>
