<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.cloud.upms.mapper.NamespaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ch.cloud.upms.model.Namespace">
        <id column="ID" property="id" />
        <result column="UID" property="uid" />
        <result column="NAME" property="name" />
        <result column="DESCRIPTION" property="description" />
        <result column="SYNC_NACOS" property="syncNacos" />
        <result column="DELETED" property="deleted" />
        <result column="CREATE_AT" property="createAt" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_AT" property="updateAt" />
        <result column="UPDATE_BY" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, UID, NAME, DESCRIPTION, SYNC_NACOS, DELETED, CREATE_AT, CREATE_BY, UPDATE_AT, UPDATE_BY
    </sql>

</mapper>
