<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.cloud.upms.user.mapper.TenantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ch.cloud.upms.user.model.Tenant">
        <id column="ID" property="id" />
        <result column="DEPARTMENT_ID" property="departmentId" />
        <result column="DEPARTMENT_NAME" property="departmentName" />
        <result column="NAME" property="name" />
        <result column="MANAGER" property="manager" />
        <result column="SORT" property="sort" />
        <result column="DESCRIPTION" property="description" />
        <result column="STATUS" property="status" />
        <result column="DELETED" property="deleted" />
        <result column="CREATE_AT" property="createAt" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_AT" property="updateAt" />
        <result column="UPDATE_BY" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, DEPARTMENT_ID, DEPARTMENT_NAME, NAME, MANAGER, SORT, DESCRIPTION, STATUS, DELETED, CREATE_AT, CREATE_BY, UPDATE_AT, UPDATE_BY
    </sql>

</mapper>
