<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.cloud.upms.mapper.OPRecordMapper">
  <resultMap id="BaseResultMap" type="com.ch.cloud.upms.model.OPRecord">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="METHOD" jdbcType="VARCHAR" property="method" />
    <result column="AUTH_CODE" jdbcType="VARCHAR" property="authCode" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="REQUEST_TIME" jdbcType="BIGINT" property="requestTime" />
    <result column="RESPONSE_TIME" jdbcType="BIGINT" property="responseTime" />
    <result column="REQUEST" jdbcType="LONGVARCHAR" property="request" />
    <result column="PROXY" jdbcType="LONGVARCHAR" property="proxy" />
    <result column="RESPONSE" jdbcType="LONGVARCHAR" property="response" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, URL, METHOD, AUTH_CODE, STATUS, OPERATOR, REQUEST_TIME, RESPONSE_TIME
  </sql>
</mapper>