<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ch.cloud.upms.mapper.PersistentTokenMapper" >
  <resultMap id="BaseResultMap" type="com.ch.cloud.upms.model.PersistentToken" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="SERIAL" property="serial" jdbcType="VARCHAR" />
    <result column="EXPIRES" property="expires" jdbcType="TIMESTAMP" />
    <result column="TOKEN" property="token" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERIAL, EXPIRES, TOKEN, USERNAME
  </sql>
</mapper>