<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ch.cloud.upms.mapper.StPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.ch.cloud.upms.model.StPermission" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="IS_SHOW" property="isShow" jdbcType="CHAR" />
    <result column="IS_SYS" property="isSys" jdbcType="CHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="PARENT_NAME" property="parentName" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_AT" property="createAt" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_AT" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, CODE, URL, TYPE, ICON, SORT, IS_SHOW, IS_SYS, PARENT_ID, PARENT_NAME, DESCRIPTION, 
    STATUS, CREATE_BY, CREATE_AT, UPDATE_BY, UPDATE_AT
  </sql>

  <select id="findByTypeAndRoleId" resultMap="BaseResultMap">
    select
    DISTINCT <include refid="Base_Column_List"/>
    from st_permission t
    <if test="roleId > 0">
      inner join st_role_permission t1
      on t.ID = t1.PERMISSION_ID and t1.ROLE_ID = #{roleId}
    </if>
    where t.status = '1'
    <if test="types != null and types.size() > 0">
      and t.TYPE in
      <foreach collection="types" item="type" open="(" separator="," close=")" >
        #{type}
      </foreach>
    </if>
  </select>
  <insert id="insertRolePermissions">
    insert into st_role_permission(ROLE_ID, PERMISSION_ID) values
    <foreach collection="permissionIds" separator="," item="permissionId">
      (#{roleId}, #{permissionId})
    </foreach>
  </insert>
  <delete id="deleteRolePermissions">
    delete from st_role_permission where ROLE_ID = #{roleId}
  </delete>
</mapper>