<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ch.cloud.upms.mapper.StUserMapper" >
  <resultMap id="BaseResultMap" type="com.ch.cloud.upms.model.StUser" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
    <result column="BIRTH" property="birth" jdbcType="DATE" />
    <result column="SEX" property="sex" jdbcType="BIT" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="CHAR" />
    <result column="LOCKED" property="locked" jdbcType="CHAR" />
    <result column="EXPIRED" property="expired" jdbcType="DATE" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="LAST_LOGIN_AT" property="lastLoginAt" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_IP" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="ERROR_COUNT" property="errorCount" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_AT" property="createAt" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_AT" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, USERNAME, PASSWORD, REAL_NAME, BIRTH, SEX, EMAIL, MOBILE, LOCKED, EXPIRED, 
    TYPE, STATUS, LAST_LOGIN_AT, LAST_LOGIN_IP, ERROR_COUNT, REMARK, CREATE_AT, CREATE_BY, 
    UPDATE_AT, UPDATE_BY
  </sql>


  <insert id="insertAssignRole">
    INSERT INTO st_user_role (USER_ID,ROLE_ID) VALUES (#{userId},#{roleId})
  </insert>
  <delete id="deleteAssignRole">
    DELETE FROM st_user_role WHERE USER_ID=#{userId} AND ROLE_ID=#{roleId}
  </delete>
</mapper>